<fd-avatar [size]="'xs'"
           [colorAccent]="7"
           [circle]="true"
           [border]="false"
           [label]="'Admin Name'"
           [fdMenuTrigger]="menu"></fd-avatar>
<fd-menu #menu >
  <li fd-menu-item><a fd-menu-interactive href="#"><span>Link 1</span></a></li>
  <li fd-menu-item><a fd-menu-interactive href="#"><span>Link 2</span></a></li>
  <li fd-menu-item><a fd-menu-interactive href="#"><span>Link 3</span></a></li>
  <li fd-menu-item [submenu]="subMenu1">
    <div fd-menu-interactive>
      <span>Users</span>
      <fd-menu-addon [submenuIndicator]="true"></fd-menu-addon>
    </div>
  </li>
</fd-menu>

<fd-submenu #subMenu1>
  <li fd-menu-item>
    <a fd-menu-interactive>
      <div style="display: flex; flex-direction: column">
        <span>User 1</span>
        <span style="color: rgb(106, 109, 112)">user1@email.com</span>
      </div>
    </a>
  </li>
  <li fd-menu-item>
    <a fd-menu-interactive>
      <div style="display: flex; flex-direction: column">
        <span>User 2</span>
        <span style="color: rgb(106, 109, 112)">user2@email.com</span>
      </div>
    </a>
  </li>
  <li fd-menu-item>
    <a fd-menu-interactive>
      <div style="display: flex; flex-direction: column">
        <span>User 3</span>
        <span style="color: rgb(106, 109, 112)">user3@email.com</span>
      </div>
    </a>
  </li>
</fd-submenu>
